#navbar {
    background: white;
    opacity: .95;
}
.card {
    border-color: #1cade4;
}

.card-header {
    color: #1cade4;
    border-color: #1cade4;
}

.card-title {
    color: #1cade4;
}

span {
    font-weight: bolder;
}

.card-img-top {
    border-radius: 0;
}

i {
    user-select: none;
}

a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {
    display: none;
}

.personalData {
    border-color: #1cade4!important;
}

#personalData i {
    color: #1cade4!important;
}

.foto-personal{
    height: 100%;
    max-width: 100%;
}

/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  } */